<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ template "heads.html" }}
    <title>Login</title>
</head>
<body>
<main class="container">
    {{ template "navbar.html" }}
    <form action="">
        <div class="mb-3">
            <label for="adminToken" class="form-label">Admin token</label>
            <input type="password" class="form-control" id="adminToken" name="token" aria-describedby="tokenHelp">
            <div id="tokenHelp" class="form-text">Never share token with anyone else.</div>
        </div>
        <button hx-post="/verify-token" hx-swap="none" type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

</body>
</html>