<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    {{ template "heads.html" }}
    <title>Nicky Bo</title>
</head>
<body>
<main class="container">
    {{ template "navbar.html" }}

    <div class="profile-section">
        <div class="profile-content">
            <h1 class="name-title">Nicky Bo</h1>
            <p class="subtitle">Personal Space</p>

            <!-- <div class="about-text">
                <p></p>
            </div> -->

            <div class="contact-links">
                <a href="mailto:bondarev.n17@yandex.ru">✉️ Email</a>
                <a href="https://github.com/arevbond" target="_blank">👨‍💻 GitHub</a>
                <a href="/blog/posts">📝 Блог</a>
                <a href="https://t.me/arevbond" target="_blank">💬 Telegram</a>
            </div>
        </div>

        <img src="/static/profile.jpg" alt="Nikita Bondarev" class="profile-photo" />
    </div>
</main>

{{ template "footer.html" }}

</body>
</html>