<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    {{ template "heads.html" }}
    <title>{{ .Title }}</title>
</head>
<body>
<main class="container">
    {{ template "navbar.html" }}

    <article class="post-content mb-5">
        <h2 class="mb-3 d-flex align-items-center justify-content-between"><span>{{ .Title }}</span>
            {{ if .IsAdmin }}
            <span class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm" title="Редактировать">
                    <a href="/blog/posts/form-update?post_id={{ .ID }}"><i class="bi bi-pencil"></i></a>
                </button>
                {{ if .IsPublished }}
                <button hx-patch="/blog/posts/{{ .ID }}/toggle-publication?is_published={{ .IsPublished }}&slug={{ .Slug }}" type="button" class="btn btn-outline-warning btn-sm" title="Скрыть">
                    <i class="bi bi-eye-slash"></i>
                </button>
                {{ else }}
                   <button hx-patch="/blog/posts/{{ .ID }}/toggle-publication?is_published={{ .IsPublished }}&slug={{ .Slug }}" type="button" class="btn btn-outline-warning btn-sm" title="Опубликовать">
                    <i class="bi bi-eye"></i>
                   </button>
                {{ end }}
                <button hx-delete="/blog/posts/{{ .ID }}" hx-confirm="Уверен, что хочешь удалить данный пост?"
                        type="button" class="btn btn-outline-danger btn-sm" title="Удалить">
                    <i class="bi bi-trash"></i>
                </button>
            </span>
            {{ end }}
        </h2>
        {{ if .IsAdmin }}
        <div class="mb-2">
            {{ if .IsPublished }}
            <span class="badge bg-success">Опубликовано</span>
            {{ else }}
            <span class="badge bg-secondary">Скрыто</span>
            {{ end }}
        </div>
        {{ end }}

<!--        <p class="lead mb-4">{{ .Description }}</p>-->
        <div class="border-top pt-3">
            {{ .Content }}
        </div>
        <hr/>
        <div class="d-flex justify-content-between align-items-start text-muted">
            <div>
                <span class="fs-6">Создано: {{ .CreatedAt }}</span>
                {{ if ne .CreatedAt .UpdatedAt }}
                <br><span class="fs-6">Обновлено: {{ .UpdatedAt }}</span>
                {{ end }}
            </div>
            {{ if .CategoryName }}
            <div>
                <span class="badge bg-light text-dark fs-6 px-3 py-2">{{ .CategoryName }}</span>
            </div>
            {{ end }}
        </div>


        <div class="mt-4 mb-5">
            <a href="/blog/posts" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Назад ко всем постам
            </a>
        </div>
    </article>

</main>

{{ template "footer.html" }}

</body>
</html>
