body {
    padding-top: 70px;
}

pre code.language-go {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Fira Code', 'Courier New', monospace;
    font-size: 14px;
    padding: 1em;
    border-radius: 8px;
    display: block;
    overflow-x: auto;
    line-height: 1.5;
    white-space: pre;
}